.contentDiv{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	background-color: rgba(78, 208, 148, 0.36);;
}
.headerDiv{
	height: 40px;	
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-left: 1px solid rgba(255,255,255,.1);
	background-color: #263238;
	padding: 10px;
	color: white;
	font-size: 25px;
}